#switch {
  --width: 120px;
  --angle-size: calc(var(--width) / 2);
  position: relative;
  width: var(--width);
  height: calc(var(--width) / 2);
  background-color: #222;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  transform: skew(330deg);
  box-shadow: inset 0 2px 15px rgba(0, 0, 0, 0.2),
    inset 0 2px 2px rgba(0, 0, 0, 0.2), inset 0 -1px 1px rgba(0, 0, 0, 0.2);
  cursor: pointer;

  input {
    position: absolute;
    appearance: none;

    &:checked ~ .angle {
      border-bottom: var(--angle-size) solid #f00;
      transform: skewX(30deg) translateX(calc(var(--width) / 2)) scale(0.6)
        rotate(180deg);
      filter: drop-shadow(0 0 10px #f00) drop-shadow(0 0 30px #f00);
    }

    &:checked ~ .off {
      transform: skew(30deg) scale(1);
    }

    &:checked ~ .on {
      transform: skew(30deg) scale(0);
    }
  }

  text {
    padding: 10px;
    color: #fff;
    text-transform: uppercase;
    transition: all 0.5s;
    user-select: none;
  }

  .off {
    color: #f00;
    transform: skew(30deg) scale(0);
    filter: drop-shadow(0 0 10px #f00) drop-shadow(0 0 30px #f00);
  }

  .on {
    color: #0f0;
    transform: skew(30deg) scale(1);
    filter: drop-shadow(0 0 10px #0f0) drop-shadow(0 0 30px #0f0);
  }

  .angle {
    position: absolute;
    border-left: calc((var(--angle-size) + 10px) / 2) solid transparent;
    border-right: calc((var(--angle-size) + 10px) / 2) solid transparent;
    border-bottom: var(--angle-size) solid #0f0;
    transform: skewX(30deg) scale(0.6) translateX(-16px);
    filter: drop-shadow(0 0 10px #0f0) drop-shadow(0 0 30px #0f0);
    transition: all 0.5s;
  }
}
